/* NB PARTI COMUNIC */

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: white;
}

/* NB NAVBAR FIX */

header {
    max-width: 1200px;
}

.navbar {
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid black;

}

.navbar-header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.navimg {
    line-height: 50px;
    width: 172px;
}

.navimg img {
    width: 172px;
    height: 29px;
    margin-top: 29px;
    margin-left: 25px;

}

.glyphicon-chevron-down {
    padding: 5px;
}

.none {
    visibility: hidden;
    margin-left: -10px;
}

#bs-example-navbar-collapse-1 ul {
    margin-left: 250px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4e;
    font-weight: 500;
    font-size: 14px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    height: 65px;
    background-color: white;
    width: 100vw,

}

.navbar-nav>li>a {
    line-height: 65px;

}

#primobtn {
    margin: 22px;
    border: 1px solid #0049ff;
    color: #0049ff;
    font-weight: bolder;
}

.glyphicon-chevron-down {
    font-size: 10px;
}

@media screen and (min-width: 768px) {

    .navbar-nav {
        margin-left: 20px;
    }
}

/* NB NB NB JUMBO  */

.jumbo {
    margin-top: 90px;
    background-color: #0049ff;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.jb {
    margin: 0 auto;
    max-width: 1200px;
}

.formfirst {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    margin-left: 176px;
}

.credenziali {
    padding-top: 50px;
    padding-bottom: 50px;
}

#colorwhite {
    color: white;
    margin-left: 20px;
    margin-top: 180px;

}

.titolo h1 {
    font-size: 62px;
}

.titolo h4 {
    font-size: 24px;
    color: white;
    margin-left: 20px;
}

#btnsmall {
    padding: 5px;
    width: 49%;
    height: 46px;
    background-color: #f2f8ff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e9e9e9;
    margin-bottom: 5px;
}

#btnbig {
    background-color: #0069ff;
}

.line {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linea {
    height: 20px;
    width: 35%;
    border-bottom: 2px solid black;
    float: left;
}

.due {
    width: 30%;
    height: 40px;
    border: none;
}

.due p {
    margin-top: 10px;
}

.formfirst h2 {
    font-weight: bold;
    color: #031b4e;
}

/*  NB NB NB NB ROW GRAY */

#dim {
    width: 135px;
    height: 77px;
    object-fit: contain;
}

#splunk {
    margin-top: 12px;
    width: 160px;
    height: 50px;
    object-fit: contain;
}

#github {
    width: 125px;
    height: 77px;
    object-fit: contain;
}

.quattro {
    padding: 40px;

}

.third {
    padding: 40px;
}

.gray {
    background-color: #f3f5f9;
    max-width: 1200px;
    margin: 0 auto;
}

.colorgray {
    background-color: #f3f5f9;
}

.colorgray i {
    color: #0149ff;
}

.colorgray a {
    color: #0149ff;
    font-weight: bold;
}

.colorgray h2 {
    color: #939eb5;
    font-size: 20px;
}


/* NB NB NB ROW WHITE */

.white {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    height: 550px;
}

.elenco {
    height: 200px;
    margin-top: 20px;
    padding: 15px;
}

.imgdescr {
    height: 200px;
    width: 100%;
    float: left;
    padding: 15px;
}

.nocolor {
    margin-bottom: 100px;
}

.nocolor i {
    font-size: 30px;
    color: #0069ff;
}

.nocolor p {
    color: #4e5f83;
    font-size: 16px;
}

.nocolor strong {
    color: #031b4e;
    font-size: 18px;
}

.nocolor a {
    text-decoration: none;
}

.pri {
    height: 40px;
    width: 250px;
    border-left: 4px solid gray;
    line-height: 40px;
}

.pri:hover {
    border-left: 4px solid red;
}

.elenconocolor {
    font-weight: bold;
    color: #4e5f83;
    margin-left: 15px;
}

.imgdescrdue {
    margin-top: 30px;

}

.imgdescrquattro {
    margin-top: 30px;

}

/* NB NB NB ROW GRAY SECOND */

.colorgraydue {
    background-color: #f3f5f9;
}

.graydue {
    max-width: 1200px;
    margin: 0 auto;
    height: 1000px;
}

.testograydue,
.imagegraydue,
.sottotestograydue {
    margin: 0 auto;
    height: 100px;
    margin-top: 50px;
}

.centrare {
    margin: 0 auto;

}

.imagegraydue {
    width: 1000px;
    height: 650px;
    margin: 0 auto;
}

/*  NB NB NB NB WH */

.bgwh {
    background-color: white;;

}

.wh {
    margin: 0 auto;
    width: 100%;
}

.wh h4 {
    padding-top: 50px;
    font-size: 36px;
    font-weight: bold;
}

.lista {
    padding-top: 50px;
    padding-bottom: 50px;
}

.lista i {
    font-size: 30px;
}

.lista p {
    font-size: 16px;
    color: #4e5f83;
}

.lista strong {
    font-size: 18px;
    font-weight: bold;
    color: #031b4e;

}

/* NB NB NB MAPS */
